# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
# .vscode/
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db

# Misc
/src/save for later
/dist/save for later
# /dist/
dist/
/build/BuildGUI
*.exe
!buildGUI.exe
/dist/web
/dist/BuildGUI
/dist/win-unpacked
/dist/builder-debug.yml
/dist/builder-effective-config.yaml
/__pycache__
BuildGUI.spec
electron-src/